<clr-header>
  <div class="header-actions">
    <clr-dropdown>
      <button
        class="nav-text purple"
        clrDropdownTrigger
        aria-label="open user profile"
      >
        <clr-icon shape="user" size="28"></clr-icon>
        <clr-icon shape="caret" style="transform: rotate(180deg)"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div></clr-header
>
